body {
  background-color: #0c243c;
}

.header {
  background-color: #0c243c;
  color: #b5d1e2;
  text-align: left;
}

.main-content {
  background-color: #5791b3;
  padding: 15px;
  color: #b5d1e2;
}

.sidebar {
  background-color: #5791b3;
  color: white;
  padding: 20px;
}

.footer {
  background-color: #5791b3;
  color: white;
  text-align: center;
  padding: 10px;
}
